<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./login.css">
</head>
<body>
  <div class="container">
    <form  method="post" class="form-control-group" action="/login">
        <legend>Sign In</legend>
          <div class="control-group">
            <label class="control-label" for="username">Username:</label>
            <div class="controls">
              <input class="span3" type="text" name="username" placeholder="Username">
            </div>
          </div>
          <button style="margin-top: 5px" type="submit" class="btn btn-success">Login</button>
    </form>
    <p id="error"></p>
  </div>
</body>
<script type="text/javascript">
  function onLogin(){
  var email = document.getElementById('username').value;
  if (email.length < 4) {
    document.getElementById("error").innerHtml = "Please Enter valid mail Id";
    return false;
  } return true;
}
</script>
</html>